<h1> Challenges waiting approval </h1>


<ng-container *ngFor="let challenge of challengesToApprove">

  <mat-card>

    <mat-card-header>
      <mat-card-title> {{challenge.name}} </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      {{ challenge.statement }}

      <div class="author">
        {{ challenge.author }}
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-mini-fab (click)="validate(challenge.id)">
        <i class="material-icons">
          done
        </i>
      </button>
      <button mat-mini-fab (click)="delete(challenge.id)">
        <i class="material-icons">
          clear
        </i>
      </button>
    </mat-card-actions>

  </mat-card>

</ng-container>
