section {
  margin: 0 25px 50px 0;
}

mat-card-content {

  #author {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  #pourcentage {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

mat-card {
  width: 500px;
  height: auto;
  margin: 25px 0 0 0;
}
