.listUsers{
  overflow: auto;
  height: 200px;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .username {
    margin: 10px 10px 10px 10px;
  }
}

mat-card {
  width: 500px;
  height: auto;
  margin: 25px 0 0 0;
}
