<section *ngIf="(connectedUser$ | async) as connectedUser">

  <app-change-username [connectedUser]="connectedUser"></app-change-username>

  <mat-divider></mat-divider>

  <app-change-phoneNumber [connectedUser]="connectedUser"></app-change-phoneNumber>

  <!-- <mat-divider></mat-divider>

  <app-change-email [connectedUser$]="connectedUser$"></app-change-email> -->

  <mat-divider></mat-divider>

  <app-change-password [connectedUser]="connectedUser"></app-change-password>

  <mat-divider></mat-divider>

  <app-change-picture [connectedUser]="connectedUser"></app-change-picture>

</section>
