<section>

  <h1 mat-dialog-title> Create an account </h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div mat-dialog-content>

      <section id="left-column">

        <mat-form-field>
          <label>Username *</label>
          <input matNativeControl type="text" formControlName="username">

          <mat-error *ngIf="registerForm.get('username').hasError('required')"> Username required </mat-error>
          <mat-error *ngIf="registerForm.get('username').hasError('minlength')"> At least 3 characters required
          </mat-error>

        </mat-form-field>

        <ng-container *ngIf="this.registerForm.get('username').invalid">
          <mat-error *ngIf="this.registerForm.get('username').errors?.uniqueUsername"> This username is already taken
          </mat-error>
        </ng-container>

        <mat-form-field>
          <label>Phone number</label>
          <input matNativeControl type="text" formControlName="phoneNumber">

          <mat-error *ngIf="registerForm.get('phoneNumber').hasError('minlength')"> At least 10 characters required </mat-error>

        </mat-form-field>

        <ng-container *ngIf="this.registerForm.errors">
          <mat-error *ngIf="this.registerForm.errors.uniquePhoneNumber"> This phone number is already taken </mat-error>
        </ng-container>


        <mat-form-field>
          <label>Email *</label>
          <input matNativeControl type="text" formControlName="email">

          <mat-error *ngIf="registerForm.get('email').hasError('required')"> Email required </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')"> Wrong email format </mat-error>

        </mat-form-field>

        <ng-container *ngIf="this.registerForm.get('email').invalid">
          <mat-error *ngIf="this.registerForm.get('email').errors?.uniqueEmail"> Email is already taken. </mat-error>
        </ng-container>

      </section>

      <section id="right-column">

        <mat-form-field>
          <label>Password *</label>
          <input matNativeControl type="password" formControlName="password">

          <mat-error *ngIf="registerForm.get('password').hasError('required')"> Password required </mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('minlength')"> At least 8 characters required
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <label>Confirm password *</label>
          <input matNativeControl type="password" formControlName="confirmPassword">

          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')"> Password required </mat-error>

        </mat-form-field>

        <ng-container *ngIf="this.registerForm.errors">
          <mat-error *ngIf="this.registerForm.errors.passwordsNotEqual"> Not equal to password </mat-error>
        </ng-container>

      </section>

    </div>

    <div mat-dialog-actions>

      <button mat-raised-button color="accent" type="button" (click)="cancel()"> Cancel </button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid"> Submit </button>

    </div>

  </form>

</section>
