section {
  margin: 0 25px 50px 0;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .username {
    margin: 10px 10px 10px 10px;
  }
}

mat-card {
  width: 500px;
  height: auto;
  margin: 25px 0 0 0;
}

mat-card-actions {
  position: absolute;
  top: 0;
  right: 0;

  button, a {
    display: none;
  }
}

mat-card:hover {
  mat-card-actions {

    display: flex;

    button, a {
      display: block;
      margin: 0 15px 0 0;
    }
  }
}
